<div flex layout="column" class="md-whiteframe-1dp attendee-agenda-wrapper fade-animation">
  <h1 class="attendee-agenda-header">{{ attendee.fullName }}'s Next Sessions</h1>
  <div ng-if="!loadingData" class="fade-animation">
    <h4 class="attendee-agenda-message"> {{ message }} </h4>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="session in sessions">
        <div class="md-list-item-text">
          <h3><md-icon md-svg-icon="action:ic_event_24px"></md-icon> {{ session.name }} </h3>
          <h4> {{ session.location }} </h4>
          <p> {{ session.start  | date:'EEEE HH:mm a' }} </p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </div>
  <div layout="row" layout-align="center center" ng-if="loadingData" class="fade-animation">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    <span class="attendee-agenda-header">Loading agenda...</span>
  </div>
</div>
