<div class="dashboard-detail" layout="column" flex layout-fill>
  <div class="dashboard-wrapper md-whiteframe-1dp" layout="column" flex layout-fill>
    <div class="dashboard-header" layout="row" flex="">

      <div flex="grow" layout="column">
        <span class="md-display-1">{{dashboard.name}}</span>
        <small ng-if="!fullScreenMode">Last Updated: {{dashboard.lastUpdated | date:'medium'}}</small>
        <span>
          {{dashboard.description}}
        </span>
      </div>

      <div flex="20">
        <img ng-src="{{image.url()}}" alt="Logo" width="100%">
      </div>
    </div>
    <div class="dashboard-actions" layout="row" ng-if="!fullScreenMode" flex="none">
      <md-button ng-click="addWidget()" aria-label="Add Widget">
        <md-icon md-svg-icon="content:ic_add_box_24px"></md-icon> Add Tile
      </md-button>
      <md-button ng-click="generalSettings()" aria-label="Settings">
        <md-icon md-svg-icon="action:ic_settings_24px"></md-icon> Settings
      </md-button>
      <md-button ng-click="save()" aria-label="Save">
        <md-icon md-svg-icon="content:ic_save_24px"></md-icon> Save
      </md-button>
      <md-button ng-click="remove()" aria-label="Remove">
        <md-icon md-svg-icon="action:ic_delete_24px"></md-icon> Remove
      </md-button>
      <md-button ng-click="fullScreen()" aria-label="Remove">
        <md-icon md-svg-icon="action:ic_settings_overscan_24px"></md-icon> Fullscreen
      </md-button>
    </div>
    <div class="dashboard-content" flex="75">
      <md-grid-list class="grid-animate dashboard-grid" md-cols="4" md-row-height="fit" md-gutter="1rem" md-on-layout="gridReady($event)">
        <md-grid-tile ng-repeat="tile in dashboard.tiles | orderBy:'order'" md-rowspan="{{tile.height}}" md-colspan="{{tile.width}}">
          <div class="tile-wrapper" layout="column">
            <div ng-if="tile.visualization.type=='line-chart'" class="tile-chart-container" flex layout-fill>
              <line-chart ng-if="parametersReady" class="socials-card" data="parameters[tile.parameter].chartdata" tile="tile" chart-options="lineChartOptions"></line-chart>
            </div>
            <div ng-if="tile.visualization.type=='bar-chart'" class="tile-chart-container" flex layout-fill>
              <bar-chart ng-if="parametersReady" class="socials-card" data="parameters[tile.parameter].chartdata" tile="tile" chart-options="barChartOptions"></bar-chart>
            </div>
            <div ng-if="tile.visualization.type=='gauge-chart'" class="tile-chart-container" flex layout-fill>
              <gauge-chart ng-if="parametersReady" class="socials-card" data="parameters[tile.parameter].chartdata" tile="tile" chart-options="gaugeChartOptions"></gauge-chart>
            </div>
            <div ng-if="tile.visualization.type=='rotational-circle'" class="tile-chart-container" flex layout-fill>
              <rotational-circle ng-if="parametersReady" class="socials-card" data="parameters[tile.parameter].chartdata"></rotational-circle>
            </div>
            <div ng-if="tile.visualization.type=='rotational-logo'" class="tile-chart-container" flex layout-fill>
              <rotational-logo ng-if="parametersReady" class="socials-card" data="parameters[tile.parameter].chartdata"></rotational-logo>
            </div>
            <div ng-if="tile.visualization.type=='light-indicator'" class="tile-chart-container" flex layout-fill>
              <light-indicator ng-if="parametersReady" class="socials-card" data="parameters[tile.parameter].chartdata" tile="tile"></light-indicator>
            </div>
            <div ng-if="tile.visualization.type=='color-indicator'" class="tile-chart-container" flex layout-fill>
              <color-indicator ng-if="parametersReady" class="socials-card" tile="tile" data="parameters[tile.parameter].chartdata"></color-indicator>
            </div>
            <div ng-if="tile.visualization.type=='progress-circle'" class="tile-chart-container" flex layout-fill>
              <progress-circle ng-if="parametersReady" class="socials-card" data="parameters[tile.parameter].chartdata" tile="tile"></progress-circle>
            </div>
            <div ng-if="tile.visualization.type=='progress-bar'" class="tile-chart-container" flex layout-fill>
              <progress-bar ng-if="parametersReady" class="socials-card" data="parameters[tile.parameter].chartdata" tile="tile"></progress-bar>
            </div>
            <div ng-if="tile.visualization.type=='text-value'" class="tile-chart-container" flex layout-fill>
              <text-value ng-if="parametersReady" class="socials-card" data="parameters[tile.parameter].chartdata" tile="tile"></text-value>
            </div>
            <div class="tile-footer md-whiteframe-1dp" layout="row" layout-align="start center">
                <md-button class="md-icon-button" ng-click="tileSettings(tile)" aria-label="Settings" ng-if="!fullScreenMode">
                  <md-icon md-svg-icon="action:ic_settings_24px"></md-icon>
                </md-button>
                <span class="tile-footer-padding" ng-if="fullScreenMode"></span>
                <p>{{tile.title}}</p>
            </div>
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
</div>
