<div class="socials-detail" layout="column" layout-wrap layout-fill>
  <div flex="10" class="ng-child-padding socials-header" layout="row">
    <div flex="100" class="md-whiteframe-1dp socials-header-content ng-child-padding" layout="row" layout-align="space-between center">
      <div layout="row">
        <img src="/images/twitter-logo.svg" height="50px">
        <span class="socials-main-title">#NXPFTF</span>
      </div>
      <img src="/images/ftf-logo.svg"/>
    </div>
  </div>
  <div flex="90" class="socials-body ng-child-padding">
    <md-grid-list class="socials-grid grid-animate" md-row-height="fit" md-cols="3" md-gutter="1rem">
      <md-grid-tile ng-repeat="tweet in tweetlist" md-rowspan="{{tweet.row}}" md-colspan="1">
        <responsive-card ng-if="!tweet.changing" tweet="tweet.tweet"></responsive-card>
          <!-- <mini-social-card ng-if="tweet.row == 1 && !tweet.changing" tweet="tweet.tweet"></mini-social-card>
          <image-social-card ng-if="tweet.row == 2  && !tweet.changing" tweet="tweet.tweet"></image-social-card> -->
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
