.rl-main{
  transform-style: preserve-3d;
}
.rl-plane-X{
  height: 100%;
  box-sizing: border-box;
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  background: rgba(0,0,0,0.15);
  position: fixed;
}
.rl-plane-Y{
  height: 100%;
  box-sizing: border-box;
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  background: rgba(0,0,0,0.15);
  position: fixed;
}
.rl-plane-Z{
  height: 100%;
  box-sizing: border-box;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  background: rgba(0,0,0,0.15);
  position: fixed;
}
.rl-axis-X{
  box-sizing: border-box;
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  border-top-color: #73B4D9;
  border-top-width: 0.5rem;
  border-top-style: solid;
  position: fixed;
}
.rl-axis-Y{
  box-sizing: border-box;
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  border-top-color: #C5D247;
  border-top-width: 0.5rem;
  border-top-style: solid;
  position: fixed;
}
.rl-axis-Z{
  box-sizing: border-box;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  border-top-color: #FFB437;
  border-top-width: 0.5rem;
  border-top-style: solid;
  position: fixed;
}
