.li-main-circle{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: .5vh;
  border-style: solid;
  box-sizing: border-box;
  height: 100%;
}
.li-main-wrapper{
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
}
.li-container{
  padding-bottom: 3vw;
}
.li-value-container{
  position: relative;
  height: 0;
  top: -50%;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.5);
}
.li-value{

}
