<div layout="row" layout-fill>
  <div class="signage-detail" layout="column" flex="75" layout-fill>
    <div class="signage-content-container" flex="75">
      <div class="signage-content-inner">
        <div imgcontainer url="{{imageNew}}" class="animate-3d" ng-if="showingImage" layout-fill></div>
        <video autoplay ng-src="{{videoNew}}" class="animate-3d video-full" ng-if="showingVideo" layout-fill></video>
      </div>
    </div>
    <div ng-style="bannerPast" class="cover signage-content-container" flex="25">
      <div layout-fill ng-style="bannerNew" class="animate-3d cover" ng-if="showingBanner"></div>
    </div>
  </div>
  <div class="signage-social-container" flex="25" layout-padding>
    <md-list>
      <md-list-item class="md-3-line md-whiteframe-1dp tweet-card" ng-repeat="tweet in tweets">
        <img ng-src="{{ tweet.tweet.user.profile_image_url_https}}" class="md-avatar" alt="{{tweet.tweet.user.screen_name}}" />
        <div class="md-list-item-text tweet-text" layout="column">
          <div layout="row">
            <span class="md-title">{{ tweet.tweet.user.name }}</span>
            <p>&nbsp; @{{ tweet.tweet.user.screen_name }}</p>
          </div>
          <p class="md-caption">{{ tweet.tweet.text }}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>
</div>
