<div class="signages-list" layout="column">
  <md-tabs md-dynamic-height class="md-padding">
      <md-tab label="signages">
        <md-content>
          <md-card>
            <md-card-actions layout="row" layout-align="start center">
              <md-card-icon-actions>
                <md-button ng-click="generalSettings()" aria-label="Settings">
                  <md-icon md-svg-icon="action:ic_settings_24px"></md-icon> Settings
                </md-button>
                <md-button ng-click="addNew($event)" aria-label="Add New">
                  <md-icon md-svg-icon="content:ic_add_box_24px"></md-icon> Add New
                </md-button>
                <md-button ng-click="selectMode()" ng-class="{'md-accent':selectEnabled}" aria-label="Select">
                  <md-icon md-svg-icon="action:ic_view_list_24px"></md-icon> Select Mode
                </md-button>
                <md-button ng-show="selectEnabled" class="select-actions md-accent" aria-label="Copy">
                  <md-icon md-svg-icon="content:ic_content_copy_24px"></md-icon> Copy
                </md-button>
                <md-button ng-show="selectEnabled" class="select-actions md-accent" aria-label="Remove">
                  <md-icon md-svg-icon="action:ic_delete_24px"></md-icon> Remove
                </md-button>
              </md-card-icon-actions>
            </md-card-actions>
            <md-card-content>
              <md-list ng-cloak>
                <md-list-item dir-paginate="signage in signages | itemsPerPage: perPage" total-items="signagesCount" current-page='page' ng-click="editSignage(signage)">
                  <md-checkbox ng-show="$parent.selectEnabled" ng-model="signage.selected" class="checkbox" ng-click="$event.stopPropagation();"></md-checkbox>
                  <p>{{ signage.name }}</p>
                  <md-button class="md-icon-button md-secondary" ng-click="settings(signage)" aria-label="Settings">
                    <md-icon md-svg-icon="action:ic_settings_24px"></md-icon>
                  </md-button>
                  <md-divider></md-divider>
                </md-list-item>
              </md-list>
              <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

              <p>Total number of signages: {{signagesCount}}</p>
            </md-card-content>
          </md-card>
        </md-content>
      </md-tab>

      <!-- Content Tab -->

      <md-tab label="content">
        <md-content>
          <md-card>
            <md-card-actions layout="row" layout-align="start center">
              <md-card-icon-actions>
                <md-button ng-click="addContent()" aria-label="Add New">
                  <md-icon md-svg-icon="content:ic_add_box_24px"></md-icon> Add New
                </md-button>
              </md-card-icon-actions>
            </md-card-actions>
            <md-card-content>
              <md-list ng-cloak>
                <md-list-item ng-repeat="content in contents" ng-click="editContent(content)">
                  <p>
                    {{ content.name }} <small class="md-caption">{{ content.type }}</small>
                  </p>
                  <md-button class="md-icon-button md-secondary" ng-click="removeContent(content)" aria-label="Remove">
                    <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
                  </md-button>
                  <md-divider></md-divider>
                </md-list-item>
              </md-list>
            </md-card-content>
          </md-card>
        </md-content>
      </md-tab>


      <!-- Banners Tab -->

      <md-tab label="banners">
        <md-content>
          <md-card>
            <md-card-actions layout="row" layout-align="start center">
              <md-card-icon-actions>
                <md-button ng-click="addBanner()" aria-label="Add New">
                  <md-icon md-svg-icon="content:ic_add_box_24px"></md-icon> Add New
                </md-button>
              </md-card-icon-actions>
            </md-card-actions>
            <md-card-content>
              <md-list ng-cloak>
                <md-list-item ng-repeat="banner in banners" ng-click="editBanner(banner)" aria-label="Banner">
                  <p>
                    {{ banner.name }}
                  </p>
                  <md-button class="md-icon-button md-secondary" ng-click="removeBanner(banner)" aria-label="Remove">
                    <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
                  </md-button>
                  <md-divider></md-divider>
                </md-list-item>
              </md-list>
            </md-card-content>
          </md-card>
        </md-content>
      </md-tab>

  </md-tabs>

</div>
