<md-dialog aria-label="Add New Signage"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Signage</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-icon="content:ic_clear_24px" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Signage Name</label>
          <input ng-model="signage.name">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-disabled="!signage.name" ng-click="save(signage)">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
