<div layout="row" flex layout-fill class="signage-detail">
  <div class="signage-detail" layout="column" flex="75" layout-fill>

    <div class="signage-content-container" flex="75" layout="column">
      <div class="signage-content-inner md-whiteframe-1dp" flex layout="column">
        <!-- <div imgcontainer url="{{imageNew}}" class="socials-card" ng-if="showingImage" flex></div>
        <video id="video-player" ng-src="{{videoNew}}" class="socials-card video-full" ng-if="showingVideo" flex></video> -->
        <attendee-agenda attendee="attendee" ng-if="showingAgenda"></attendee-agenda>
      </div>
    </div>

    <div flex="25" layout="column" class="signage-banner-container md-whiteframe-1dp">
      <div ng-if="showingBanner" class="socials-card" flex layout-fill layout="column">
        <div ng-style="bannerNew" class="cover" flex layout-fill>
        </div>
      </div>
    </div>

  </div>
  <div class="signage-social-container" flex="25" layout-fill layout="column">
    <div layout="row" layout-align="start center" class="signage-social-header md-whiteframe-1dp">
      <img src="/images/twitter-logo.svg" class="twitter-logo">
      <span>
        #NXPFTF
      </span>
    </div>
    <md-grid-list class="socials-grid grid-animate" md-row-height="fit" md-cols="1" md-gutter="1rem">
      <md-grid-tile ng-repeat="tweet in tweetlist" md-rowspan="{{tweet.row}}" md-colspan="1">
          <mini-social-card ng-if="!tweet.changing" tweet="tweet.tweet"></mini-social-card>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
